{{! 
Це код container файлу для index сторінки, 
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
 }}
 {{> title header='Завдання 1' description='Встановіть елементу .task1 зелений колір фон'}} 

<div class="wrapper">
  <img src="img/div.container.png"/>
  <div class="container">
    <div class='task1  task'>
    </div>
  </div>
</div> 

{{> title header='Завдання 2' description='Встановіть елементу .task2 зображення на фон з посилання /img/img-400x200.jpg'}} 
<div class="wrapper">
  <img src="img/div.container-1.png"/>
  <div class="container">
    <div class='task2  task'>
    </div>
  </div>
</div> 

 {{> title header='Завдання 3' description='Встановіть елементу .task3 лінійний градієнт на фон від жовтого до червоного'}} 
<div class="wrapper">
  <img src="img/div.container-2.png"/>
  <div class="container">
    <div class='task3 task'>
      
    </div>
  </div>
</div>

 {{> title header='Завдання 4' description='Встановіть елементу .task4 радіальний градієнт на фон closest-side, #3f87a6, #ebf8e1, #f69d3c'}} 
<div class="wrapper">
  <img src="img/div.container-3.png"/>
  <div class="container">
    <div class='task4 task'>
      
    </div>
  </div>
</div>

{{> title header='Завдання 5' description='Встановіть елементу .task5 конічний градієнт на фон  from 3.1416rad at 10% 50%, #e66465, #9198e5'}} 
<div class="wrapper">
  <img src="img/div.container-4.png"/>
  <div class="container">
    <div class='task5  task'>
    </div>
  </div>
</div>

 {{> title header='Завдання 6' description='Встановіть елементу .task6 повторення фонового зображення по горизонталі'}} 
<div class="wrapper">
  <img src="img/div.container-5.png"/>
  <div class="container">
    <div class='task6  task'>
    </div>
  </div>
</div>

 {{> title header='Завдання 7' description='Встановіть елементу .task7 повторення фонового зображення по вертикаль'}} 
<div class="wrapper">
  <img src="img/div.container-6.png"/>
  <div class="container">
    <div class='task7  task'>
    </div>
  </div>
</div>

 {{> title header='Завдання 8' description='Вимкніть елементу .task8 повторення фонового зображення'}} 
<div class="wrapper">
  <img src="img/div.container-7.png"/>
  <div class="container">
    <div class='task8  task'>
    </div>
  </div>
</div>

 {{> title header='Завдання 9' description='Встановіть елементу .task9 повторення фонового зображення з пропорційним збільшенням проміжків, якщо зображення не вміщається повністю'}} 
<div class="wrapper">
  <img src="img/div.container-8.png"/>
  <div class="container">
    <div class='task9  task'>
    </div>
  </div>
</div>

 {{> title header='Завдання 10' description='Встановіть елементу .task9 повторення фонового зображення з пропорційним змінення розміру проміжків, з заповненням всього елементу'}} 
<div class="wrapper">
  <img src="img/div.container-9.png"/>
  <div class="container">
    <div class='task10  task'>
    </div>
  </div>
</div>

 {{> title header='Завдання 11' description='Встановіть елементу .task11 прокручення фонового зображення разом зі сторінкою'}} 
<div class="wrapper">
  <img src="img/div.container-10.png"/>
  <div class="container ">
    <div class='task11  task'>
    </div>
  </div>
</div>

 {{> title header='Завдання 12' description='Встановіть елементу .task12 нерухоме фонове зображення при прокрученні сторінки'}} 
<div class="wrapper">
  <img src="img/div.container-11.png"/>
  <div class="container  ">
    <div class='task12  task'>
    </div>
  </div>
</div>

 {{> title header='Завдання 13' description='Встановіть елементу .task13 прокручення фонового зображення разом з контентом'}} 
<div class="wrapper">
  <img src="img/div.container-12.png"/>
  <div class="container ">
    <div class='task13  task'>
    </div>
  </div>
</div>

 {{> title header='Завдання 14' description='Встановіть елементу .task14 фонове зображення по центру'}} 
<div class="wrapper">
  <img src="img/div.container-13.png"/>
  <div class="container ">
    <div class='task14  task'>
    </div>
  </div>
</div>

 {{> title header='Завдання 15' description='Встановіть елементу .task15 фонове зображення зверху'}} 
<div class="wrapper">
  <img src="img/div.container-14.png"/>
  <div class="container ">
    <div class='task15  task'>
    </div>
  </div>
</div>

 {{>  title header='Завдання 16' description='Встановіть елементу .task16 фонове зображення знизу'}} 
<div class="wrapper">
  <img src="img/div.container-15.png"/>
  <div class="container ">
    <div class='task16  task'>
    </div>
  </div>
</div>

 {{>  title header='Завдання 17' description='Встановіть елементу .task17 фонове зображення зліва'}} 
<div class="wrapper">
  <img src="img/div.container-16.png"/>
  <div class="container ">
    <div class='task17  task'>
    </div>
  </div>
</div>

 {{>  title header='Завдання 18' description='Встановіть елементу .task18 фонове зображення справу'}} 
<div class="wrapper">
  <img src="img/div.container-17.png"/>
  <div class="container ">
    <div class='task18  task'>
    </div>
  </div>
</div>

 {{>  title header='Завдання 19' description='Встановіть елементу .task19 фонове зображення в 100px від початку контейнеру'}} 
<div class="wrapper">
  <img src="img/div.container-18.png"/>
  <div class="container ">
    <div class='task19  task'>
    </div>
  </div>
</div>

 {{> title header='Завдання 20' description='Встановіть елементу .task20 автомтичний розмір фонового зображення'}} 
<div class="wrapper">
  <img src="img/div.container-19.png"/>
  <div class="container ">
    <div class='task20  task'>
    </div>
  </div>
</div>

 {{> title header='Завдання 21' description='Встановіть елементу .task21 розмір фонового зображення 600px'}} 
<div class="wrapper">
  <img src="img/div.container-20.png"/>
  <div class="container ">
    <div class='task21  task'>
    </div>
  </div>
</div>

 {{> title header='Завдання 22' description='Встановіть елементу .task22 розмір фонового зображення 50% відсотків від контейнера'}} 
<div class="wrapper">
  <img src="img/div.container-21.png"/>
  <div class="container ">
    <div class='task22  task'>
    </div>
  </div>
</div>

 {{> title header='Завдання 23' description='Для елементу .task23 зробіть щоб фонове зображення вміщалось в доступну площу зі збереженням співвідношення сторін'}} 
<div class="wrapper">
  <img src="img/div.container-22.png"/>
  <div class="container">
    <div class='task23  task'>
    </div>
  </div>
</div>

 {{> title header='Завдання 24' description='Для елементу .task24 розтяніть фонове зображення на всю площу'}} 
<div class="wrapper">
  <img src="img/div.container-23.png"/>
  <div class="container">
    <div class='task24  task'>
    </div>
  </div>
</div>

 {{> title header='Завдання 25 (продвинуте необовязкове)' description='Для елементу .task25 відображуйте фон в межах рамки'}} 
<div class="wrapper">
  <img src="img/div.container-24.png"/>
  <div class="container">
    <div class='task25  task'>
    </div>
  </div>
</div>

 {{> title header='Завдання 26 (продвинуте необовязкове)' description='Для елементу .task26 відображуйте фон в межах полів'}} 
<div class="wrapper">
  <img src="img/div.container-25.png"/>
  <div class="container">
    <div class='task26  task'>
    </div>
  </div>
</div>

 {{>  title header='Завдання 27 (продвинуте необовязкове)' description='Для елементу .task27 відображуйте фон в межах контенту тексту (для коректної роботи властивості ії треба використовувати css префікс -webkit- )'}} 
<div class="wrapper">
  <img src="img/div.container-27.png"/>
  <div class="container ">
    <div class='task27  task'>
      Lorem ipsum
    </div>
  </div>
</div>


 {{>  title header='Завдання 28 (продвинуте необовязкове)' description='Для елементу .task28 відображуйте фон в рамках обмежених зовнішнім полем елемента'}} 
<div class="wrapper">
  <img src="img/div.container-28.png"/>
  <div class="container ">
    <div class='task28 task'>
      
    </div>
  </div>
</div>

 {{>  title header='Завдання 29 (продвинуте необовязкове)' description='Для елементу .task29 відображуйте фон в рамках обмежених внутрішнім полем елемента'}} 
<div class="wrapper">
  <img src="img/div.container-29.png"/>
  <div class="container ">
    <div class='task29 task'>
      
    </div>
  </div>
</div>

 {{>  title header='Завдання 30 (продвинуте необовязкове)' description='Для елементу .task30 відображуйте фон починаючи з контенту'}} 
<div class="wrapper">
  <img src="img/div.container-30.png"/>
  <div class="container ">
    <div class='task30 task'>
      Lorem ipsum
    </div>
  </div>
</div>





 {{>  title header='Завдання 31 (продвинуте необовязкове)' description='Для елементу .task32 встановіть рамкою лінійний градієнт від синього до зеленого'}} 
<div class="wrapper">
  <img src="img/div.container-32.png"/>
  <div class="container ">
    <div class='task31 task'>
      
    </div>
  </div>
</div>

 {{>  title header='Завдання 32 (продвинуте необовязкове)' description='Для елементу .task32 встановіть рамкою зображення радіальний градієнт red 5%, green 15%, blue 60%'}} 
<div class="wrapper">
  <img src="img/div.container-33.png"/>
  <div class="container ">
    <div class='task32 task'>
      
    </div>
  </div>
</div>


{{> title header='Завдання 33 (продвинуте необовязкове)' description='Для елементу .task33 встановіть повторення зображення рамки щоб зображення рамки розтянулось на всю довжину границі'}} 
<div class="wrapper">
  <img src="img/div.container-38.png"/>
  <div class="container">
    <div class='task33 task'>
    </div>
  </div>
</div>



